body {
    font-family: Arial, sans-serif;
}    

.ul-vantaggi{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.par-head-sec{
   margin: 0 auto;
   font-size: 0.8rem;
}

.par-title{
    margin: 0 auto;
}

.header-title{
    margin: 0 auto;
}

.tempo{
    text-align: end;
    margin: 20px;
}

.row{
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex-grow: 1;
}

.title-sec{
    margin: 0 auto;
}

.sec-price{
    text-align: center;
}

.button-select-piano{
    text-align: center;
}

.scleta-piano{
    background-color: #6500FF;
    color: white;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.sec-piano{
    min-width: 280px;

    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
    padding: 45px 30px;
    flex-basis: calc((100% / 3) - (30 * 2) / 3);
    flex-shrink: 0;
    flex-grow: 1;
    
}

.dollar{
    font-weight: 700;
    font-size: 1.2rem;
}

.li-vantaggio{
    margin-bottom: 10px;
}

.background-sconto{
    background-color: #E3E3E3;
    padding: 5px;
    border-radius: 5px;
}

.seconda-section{
    background-color:  #6500FF;
    color: white;
}

.scleta-piano-bianco{
    background-color: white;
    color: #6500FF;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}



